*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.metadata
tmp/
*.tmp
*.bak
*~.nib
local.properties
.loadpath
.apt_generated/
/.externalToolBuilders

# Locally stored "Eclipse launch configurations"
*.launch

/.idea
.settings
/bin
/build
/dist
/target
.classpath
/.project
/nb-configuration.xml
*.iml
/.tern-project
/target/
/target
